.custom-sidebar {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: white;
    width: 61px;
    max-width: 61px !important;
    min-width: 61px !important;
}

.custom-sidebar .ant-menu-item {
    margin-top: 0 !important;
    width: 61px !important;
    height: 61px !important;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: normal !important;
    padding-left: 10px !important;
}

.custom-sidebar .ant-menu-item:first-child {
    background: rgb(43, 128, 255) !important;
}

.custom-sidebar .ant-menu-item:first-child svg {
    color: white !important;
}

.custom-sidebar .ant-menu-item svg {
    font-size: 20px;
    color: rgb(118, 127, 130);
}

.custom-sidebar .ant-menu-item-selected a svg,
.custom-sidebar .ant-menu-item-selected a:hover {
    color: #1890ff !important;
}

.custom-sidebar .ant-menu-item:hover svg {
    color: rgb(43, 128, 255);
}

.custom-sidebar .ant-layout-sider {
    width: 58px !important;
    min-width: 58px !important;
}

.custom-sidebar .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: white;
}


.sidebarPopover.ant-popover {
    font-weight: 600;
    left: 54px !important;
}

.sidebarPopover .ant-popover-inner-content {
    padding: 8px 18px !important;
}

.pop {
    width: 120px;
}